.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

body {
  font-family: 'General Sans', Arial, sans-serif;
  color: #1d1c1a;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0.2em;
  font-size: 5.5rem;
  line-height: 1.1;
  font-weight: 500;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0.3em;
  font-size: 3.8rem;
  line-height: 1.1;
  font-weight: 500;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 500;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0.8em;
  font-size: 1.2rem;
  font-weight: 500;
}

p {
  margin-bottom: 1em;
}

a {
  color: #d14424;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:focus-visible {
  outline-color: #d14424;
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

a[data-wf-focus-visible] {
  outline-color: #d14424;
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

ul {
  margin-top: 0px;
  margin-bottom: 1em;
  padding-left: 2.2em;
}

ol {
  margin-top: 0px;
  margin-bottom: 1em;
  padding-left: 2.2em;
}

li {
  margin-bottom: 0.3em;
}

label {
  display: block;
  margin-bottom: 5px;
}

strong {
  font-weight: bold;
}

.h1 {
  margin-top: 0px;
  margin-bottom: 0.2em;
  font-size: 5.5rem;
  line-height: 1.1;
  font-weight: 500;
}

.h2 {
  margin-top: 0px;
  margin-bottom: 0.3em;
  font-size: 3.8rem;
  line-height: 1.1;
  font-weight: 500;
}

.h3 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 500;
}

.h4 {
  margin-top: 0px;
  margin-bottom: 0.8em;
  font-size: 1.2rem;
  font-weight: 500;
}

.section {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.container {
  display: block;
  width: 90%;
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  margin-right: -20px;
  margin-left: -20px;
  flex-wrap: wrap;
  align-content: stretch;
}

.row.row-justify-end {
  justify-content: flex-end;
}

.row.row-justify-between {
  justify-content: space-between;
}

.row.row-align-end {
  align-items: flex-end;
}

.row.row-justify-center {
  justify-content: center;
}

.row.row-align-center {
  align-items: center;
}

.row.row-justify-around {
  justify-content: space-around;
}

.row.row-no-gutters {
  margin-right: 0px;
  margin-left: 0px;
}

.col {
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  flex: 1;
}

.col.col-lg-3 {
  max-width: 25%;
  flex-basis: 25%;
}

.col.col-lg-6 {
  max-width: 50%;
  flex-basis: 50%;
}

.col.col-lg-7 {
  max-width: 58.333333%;
  flex-basis: 58.33%;
}

.col.col-lg-2 {
  max-width: 16.666667%;
  flex-basis: 16.67%;
}

.col.col-lg-5 {
  max-width: 41.666667%;
  flex-basis: 41.67%;
}

.col.col-no-gutters {
  padding-right: 0px;
  padding-left: 0px;
}

.col.col-lg-9 {
  max-width: 75%;
  flex-basis: 75%;
}

.col.col-lg-12 {
  max-width: 100%;
  flex-basis: 100%;
}

.col.col-lg-11 {
  max-width: 91.666667%;
  flex-basis: 91.67%;
}

.col.col-lg-8 {
  max-width: 66.666667%;
  flex-basis: 66.67%;
}

.col.col-lg-4 {
  max-width: 33.333333%;
  flex-basis: 33.33%;
}

.col.col-lg-10 {
  max-width: 83.333333%;
  flex-basis: 83.33%;
}

.col.col-lg-1 {
  max-width: 8.333333%;
  flex-basis: 8.33%;
}

.col.col-shrink {
  flex: 0 auto;
}

.col.col-lg-first {
  order: -1;
}

.col.col-lg-last {
  order: 1;
}

.btn {
  display: inline-block;
  padding: 0.7em 1.2em;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #d14424;
  box-shadow: inset 0 0 0 0 transparent;
  transition: box-shadow 300ms cubic-bezier(.165, .84, .44, 1), border-color 300ms cubic-bezier(.165, .84, .44, 1);
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.15);
  color: #fff;
}

.btn.cc-light {
  background-color: #fff;
  color: #323a45;
}

.btn.cc-secondary {
  border-color: #d14424;
  background-color: transparent;
  color: #1d1c1a;
}

.btn.cc-secondary.cc-light {
  border-color: #fff;
  color: #fff;
}

.btn.cc-secondary.cc-light:hover {
  box-shadow: inset 0 0 0 100px hsla(0, 0%, 100%, 0.15);
}

.btn.cc-full {
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  overflow: hidden;
  margin-bottom: 1em;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  border-radius: 8px;
}

.card-body {
  position: relative;
  padding: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}

.form {
  position: relative;
  width: 100%;
}

.form_required-note {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  font-size: 0.8rem;
}

.form-success {
  position: relative;
  min-height: 320px;
  background-color: transparent;
}

.form-success_flex {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-error {
  margin-top: 16px;
  padding: 8px 0px 0px;
  border-top: 1px solid #e31700;
  background-color: transparent;
  color: #e31700;
}

.input-group {
  position: relative;
  display: block;
  margin-bottom: 12px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 40px;
  flex-direction: column;
  text-align: left;
}

.input-group.cc-textarea {
  min-height: 140px;
}

.input-group.cc-toggle {
  margin-bottom: 8px;
  padding: 0px 0px 0px 28px;
}

.input {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: 100%;
  min-height: 65px;
  margin-bottom: 0px;
  padding: 32px 16px 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #888680;
  border-radius: 8px;
  background-color: transparent;
  transition: border-color 300ms cubic-bezier(.165, .84, .44, 1);
  color: #1d1c1a;
  font-size: 1rem;
}

.input:hover {
  border-color: #d14424;
}

.input:focus {
  border-color: #d14424;
}

.input::-moz-placeholder {
  color: #888680;
}

.input::-ms-input-placeholder {
  color: #888680;
}

.input::placeholder {
  color: #888680;
}

.input.cc-select {
  padding-left: 12px;
  background-image: url('../images/arrow-black.svg');
  background-position: 98% 50%;
  background-size: 24px;
  background-repeat: no-repeat;
}

.input.cc-light {
  color: #fff;
}

.input-label {
  position: relative;
  z-index: 1;
  margin-bottom: 0px;
  margin-left: 16px;
  padding-top: 12px;
  padding-bottom: 4px;
  border-top-right-radius: 3px;
  color: #1d1c1a;
  font-size: 0.9rem;
  line-height: 1;
}

.input-label.cc-static {
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
  font-size: 1rem;
}

.input-radio {
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-left: -28px;
  border-color: #888680;
  background-color: transparent;
  box-shadow: inset 0 0 0 3px #fff;
}

.input-radio:hover {
  border-color: #d14424;
  background-color: #dfddd6;
}

.input-radio.w--redirected-checked {
  border-width: 1px;
  border-color: #d14424;
  background-color: #d14424;
}

.input-radio.w--redirected-focus {
  border-color: #d14424;
  box-shadow: none;
  outline-color: #d14424;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
}

.input-radio.cc-light {
  box-shadow: inset 0 0 0 3px #302f2c;
}

.input-radio.cc-light:hover {
  background-color: #888680;
}

.input-check {
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-left: -28px;
  border-color: #888680;
  background-color: transparent;
  box-shadow: 0 0 0 0 transparent;
}

.input-check:hover {
  border-color: #d14424;
  background-color: #dfddd6;
}

.input-check.w--redirected-checked {
  border-color: #d14424;
  background-color: #d14424;
  background-size: 16px;
}

.input-check.w--redirected-focus {
  border-color: #d14424;
  box-shadow: none;
  outline-color: #d14424;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
}

.input-check.cc-light:hover {
  background-color: #888680;
}

.utility_form {
  flex-direction: column;
  text-align: left;
}

.utility_container {
  display: flex;
  width: 90%;
  max-width: 600px;
  flex-direction: column;
  text-align: center;
}

.page-wrapper {
  position: relative;
  background-color: #1d1c1a;
  color: #fff;
}

.page-wrapper.cc-utility {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.styles__section-label {
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding-bottom: 8px;
  border-bottom: 2px dotted #302f2c;
  letter-spacing: 0em;
  text-transform: none;
}

.styles__card-preview {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 120px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #1d1c1a;
  text-align: center;
}

.styles__visual-div {
  position: relative;
  margin-bottom: 12px;
  padding: 16px;
  border: 1px solid #0073e6;
  border-radius: 3px;
  background-color: rgba(0, 115, 230, 0.1);
  text-align: center;
}

.styles__global-embed-code {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
}

.styles__row-example {
  height: 200px;
  margin-top: 4px;
  padding: 20px;
  border-style: dashed;
  border-width: 1px;
  border-color: #302f2c;
}

.styles__selector-callout {
  position: relative;
  top: -1px;
  display: inline-block;
  margin-top: 0.1em;
  margin-right: 0.2em;
  margin-bottom: 0.1em;
  padding: 0.08em 0.6em;
  border-radius: 3px;
  background-color: #0073e6;
  font-family: Inconsolata, monospace;
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.7;
}

.styles__selector-callout.cc-element {
  background-color: #d13591;
}

.styles__utility-wrap {
  margin-bottom: 20px;
  padding: 1px;
}

.styles__utility-wrap.cc-margin {
  background-image: url('../images/bg-margin.svg');
  background-position: 0px 0px;
  background-size: 4px;
}

.styles__utility-wrap.cc-padding {
  background-image: url('../images/bg-padding.svg');
  background-position: 0px 0px;
  background-size: 4px;
}

.styles__nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #1d1c1a;
  line-height: 1.1;
  text-transform: uppercase;
}

.styles__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.styles__nav-link {
  display: inline-block;
  padding: 0.6em 0.8em;
  color: #fff;
  font-size: 0.85em;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.styles__nav-link:hover {
  text-decoration: underline;
}

.styles__nav-link.w--current {
  text-decoration: underline;
}

.styles__nav-link.cc-cta {
  margin-left: 0.4em;
  border-radius: 4px;
  background-color: #d14424;
}

.styles__nav-link.cc-cta:hover {
  background-color: #302f2c;
  text-decoration: none;
}

.styles__nav-version {
  display: inline-block;
  margin-left: 0.8em;
  padding: 0.35em 0.5em 0.4em;
  border-radius: 4px;
  background-color: #d14424;
  color: #fff;
  font-size: 0.7em;
  text-transform: none;
}

.styles__card {
  overflow: hidden;
  border: 1px solid #0073e6;
  border-radius: 8px;
  background-color: rgba(0, 115, 230, 0.1);
}

.styles__nav-logo {
  width: 64px;
  color: #d14424;
  line-height: 0.8;
}

.styles_utility-card {
  padding: 20px;
  border: 1px solid #0073e6;
  background-color: rgba(0, 115, 230, 0.1);
}

.styles__cover {
  display: flex;
  min-height: 100vh;
  padding-top: 5%;
  padding-bottom: 5%;
  flex-direction: column;
  justify-content: space-between;
}

.styles__ncsc-logo {
  width: 32px;
  height: 22px;
  margin-right: 11px;
}

.styles__ncsc-logo-link {
  display: flex;
  align-items: center;
  transition: color 300ms cubic-bezier(.165, .84, .44, 1);
  text-decoration: none;
}

.styles__ncsc-logo-link:hover {
  color: #fff;
}

.eyebrow {
  margin-bottom: 1.5em;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.paragraph-0-9 {
  font-size: 0.9rem;
  line-height: 1.4;
}

.paragraph-1-25 {
  font-size: 1.25rem;
}

.paragraph-1-5 {
  font-size: 1.5rem;
}

.u-bg-primary {
  background-color: #d14424;
}

.u-bg-black {
  background-color: #1d1c1a;
}

.u-bg-darkgray {
  background-color: #302f2c;
}

.u-bg-midgray {
  background-color: #888680;
}

.u-bg-lightgray {
  background-color: #dfddd6;
}

.u-bg-white {
  background-color: #fff;
}

.u-text-primary {
  color: #d14424;
}

.u-text-black {
  color: #1d1c1a;
}

.u-text-darkgray {
  color: #302f2c;
}

.u-text-midgray {
  color: #888680;
}

.u-text-lightgray {
  color: #dfddd6;
}

.u-text-white {
  color: #fff;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-overflow-hidden {
  overflow: hidden;
}

.u-overflow-visible {
  overflow: visible;
}

.u-d-flex {
  display: flex;
}

.u-d-flex.cc-align-center {
  align-items: center;
}

.u-d-block {
  display: block;
}

.u-d-none {
  display: none;
}

.u-sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin-top: -1px;
  padding: 0px;
  border: 0px solid transparent;
  white-space: nowrap;
}

.u-h-100 {
  height: 100%;
}

.u-w-100 {
  width: 100%;
}

.u-aspect-1x1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
}

.u-img-cover {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.u-link-cover {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
}

.u-z-index-1 {
  position: relative;
  z-index: 1;
}

.u-mt-0 {
  margin-top: 0px;
}

.u-mt-2 {
  margin-top: 2em;
}

.u-mt-3 {
  margin-top: 3em;
}

.u-mt-auto {
  margin-top: auto;
}

.u-mt-1 {
  margin-top: 1em;
}

.u-mb-1 {
  margin-bottom: 1em;
}

.u-mb-0 {
  margin-bottom: 0px;
}

.u-mb-2 {
  margin-bottom: 2em;
}

.u-mb-3 {
  margin-bottom: 3em;
}

.u-mlr-auto {
  margin-right: auto;
  margin-left: auto;
}

.u-mr-1 {
  margin-right: 1em;
}

.u-m-0 {
  margin: 0px;
}

.u-ml-1 {
  margin-left: 1em;
}

.u-pb-0 {
  padding-bottom: 0px;
}

.u-pb-1 {
  padding-bottom: 1em;
}

.u-pb-3 {
  padding-bottom: 3em;
}

.u-pb-2 {
  padding-bottom: 2em;
}

.u-pt-1 {
  padding-top: 1em;
}

.u-pt-2 {
  padding-top: 2em;
}

.u-pt-3 {
  padding-top: 3em;
}

.u-p-1 {
  padding: 1em;
}

.u-p-0 {
  padding: 0px;
}

.u-pt-0 {
  padding-top: 0px;
}

.u-border {
  width: 100%;
  height: 1px;
}

.u-position-relative {
  position: relative;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  .h1 {
    font-size: 4.8rem;
  }

  .h2 {
    font-size: 3.2rem;
  }

  .col.col-md-9 {
    max-width: 75%;
    flex-basis: 75%;
  }

  .col.col-md-2 {
    max-width: 16.666667%;
    flex-basis: 16.67%;
  }

  .col.col-md-6 {
    max-width: 50%;
    flex-basis: 50%;
  }

  .col.col-md-5 {
    max-width: 41.666667%;
    flex-basis: 41.67%;
  }

  .col.col-md-4 {
    max-width: 33.333333%;
    flex-basis: 33.33%;
  }

  .col.col-md-11 {
    max-width: 91.666667%;
    flex-basis: 91.67%;
  }

  .col.col-md-3 {
    max-width: 25%;
    flex-basis: 25%;
  }

  .col.col-md-8 {
    max-width: 66.666667%;
    flex-basis: 66.67%;
  }

  .col.col-md-7 {
    max-width: 58.333333%;
    flex-basis: 58.33%;
  }

  .col.col-md-10 {
    max-width: 83.333333%;
    flex-basis: 83.33%;
  }

  .col.col-md-1 {
    max-width: 8.333333%;
    flex-basis: 8.33%;
  }

  .col.col-md-12 {
    max-width: 100%;
    flex-basis: 100%;
  }

  .col.col-md-first {
    order: -1;
  }

  .col.col-md-last {
    order: 1;
  }

  .u-mt-0 {
    margin-top: 0px;
  }

  .u-mb-0 {
    margin-bottom: 0px;
  }

  .u-m-0 {
    margin: 0px;
  }

  .u-pb-0 {
    padding-bottom: 0px;
  }

  .u-pt-0 {
    padding-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.8rem;
  }

  .h1 {
    font-size: 3.6rem;
  }

  .h2 {
    font-size: 2.5rem;
  }

  .h3 {
    font-size: 1.4rem;
  }

  .section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .col.col-sm-12 {
    max-width: 100%;
    flex-basis: 100%;
  }

  .col.col-sm-9 {
    max-width: 75%;
    flex-basis: 75%;
  }

  .col.col-sm-10 {
    max-width: 83.333333%;
    flex-basis: 83.33%;
  }

  .col.col-sm-7 {
    max-width: 58.333333%;
    flex-basis: 58.33%;
  }

  .col.col-sm-5 {
    max-width: 41.666667%;
    flex-basis: 41.67%;
  }

  .col.col-sm-6 {
    max-width: 50%;
    flex-basis: 50%;
  }

  .col.col-sm-3 {
    max-width: 25%;
    flex-basis: 25%;
  }

  .col.col-sm-4 {
    max-width: 33.333333%;
    flex-basis: 33.33%;
  }

  .col.col-sm-1 {
    max-width: 8.333333%;
    flex-basis: 8.33%;
  }

  .col.col-sm-8 {
    max-width: 66.6666667%;
    flex-basis: 66.67%;
  }

  .col.col-sm-11 {
    max-width: 91.666667%;
    flex-basis: 91.67%;
  }

  .col.col-sm-2 {
    max-width: 16.666667%;
    flex-basis: 16.67%;
  }

  .col.col-sm-first {
    order: -1;
  }

  .col.col-sm-last {
    order: 1;
  }

  .btn {
    padding: 7px 15px;
  }

  .card-body {
    padding: 20px;
  }

  .form-success_flex {
    max-width: 340px;
  }

  .styles__section-label {
    padding-bottom: 10px;
  }

  .styles__nav-link {
    display: block;
    padding: 0.6em 0em;
    text-align: left;
  }

  .styles__nav-link.cc-cta {
    display: block;
    margin-left: 0em;
    padding-right: 0em;
    padding-left: 0em;
    background-color: transparent;
  }

  .styles__nav-link.cc-cta:hover {
    background-color: transparent;
    text-decoration: underline;
  }

  .styles__nav-btn {
    margin-top: -2px;
    padding: 0px 2px;
    font-size: 1.8rem;
    line-height: 1;
  }

  .styles__nav-btn:hover {
    background-color: #302f2c;
  }

  .styles__nav-btn.w--open {
    border-radius: 4px;
    background-color: #302f2c;
  }

  .styles__nav-menu {
    padding: 12px 5% 20px;
    background-color: #302f2c;
  }

  .styles__nav-btn-icon {
    width: 28px;
    height: 28px;
  }

  .styles__ncsc-logo {
    width: 32px;
    height: 20px;
  }

  .u-pb-0 {
    padding-bottom: 0px;
  }

  .u-pt-0 {
    padding-top: 0px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2rem;
  }

  .h1 {
    font-size: 2.8rem;
  }

  .h2 {
    font-size: 2rem;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .container {
    width: 86%;
  }

  .col {
    max-width: 100%;
    order: 1;
    flex-basis: 100%;
  }

  .col.col-xs-11 {
    max-width: 91.666667%;
    flex-basis: 91.67%;
  }

  .col.col-xs-6 {
    max-width: 50%;
    flex-basis: 50%;
  }

  .col.col-xs-10 {
    max-width: 83.333333%;
    flex-basis: 83.33%;
  }

  .col.col-xs-4 {
    max-width: 33.333333%;
    flex-basis: 33.33%;
  }

  .col.col-xs-3 {
    max-width: 25%;
    flex-basis: 25%;
  }

  .col.col-xs-7 {
    max-width: 58.333333%;
    flex-basis: 58.33%;
  }

  .col.col-xs-8 {
    max-width: 66.666667%;
    flex-basis: 66.67%;
  }

  .col.col-xs-9 {
    max-width: 75%;
    flex-basis: 75%;
  }

  .col.col-xs-2 {
    max-width: 16.666667%;
    flex-basis: 16.67%;
  }

  .col.col-xs-12 {
    max-width: 100%;
    flex-basis: 100%;
  }

  .col.col-xs-5 {
    max-width: 41.666667%;
    flex-basis: 41.67%;
  }

  .col.col-xs-1 {
    max-width: 8.333333%;
    flex-basis: 8.33%;
  }

  .col.col-xs-first {
    order: -1;
  }

  .styles__row-example {
    height: auto;
  }

  .styles__nav-menu {
    padding-right: 7%;
    padding-left: 7%;
  }

  .styles__cover {
    padding-top: 7%;
    padding-bottom: 7%;
  }

  .u-mt-0 {
    margin-top: 0px;
  }

  .u-mb-0 {
    margin-bottom: 0px;
  }

  .u-m-0 {
    margin: 0px;
  }

  .u-pb-0 {
    padding-bottom: 0px;
  }

  .u-pt-0 {
    padding-top: 0px;
  }
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}